html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #13151F;
  color: #fff;  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.app {
  margin: 20px;
}

.main-video {
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
}
